.videoBody {
    background: rgba(249,249,249);
}

.category {
    margin: 0;
    padding: 1.5rem 0.5rem 0.5rem 1.5rem;
}

.videoList {
    padding: 0.5rem;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    
    /* background: lightgrey; */
    /* justify-content: center;
    align-items: center;
    text-decoration: center;
     */
}

.video {
    margin: 0;
    padding: 0px;
    list-style: none;
    /* background: lightgreen; */
    

}